@use 'helpers' as *;

body {
    @include fluid-text(20, 16);
    font-family: var(--font-famaly-base);
    font-weight: 400;
    line-height: 1;
    color: var(--color-text);
    background-color: var(--color-bcg);
}

a,
button,
input,
select,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
a,
button,
select {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    @include fluid-text(26, 24)
}

h2 {
    @include fluid-text(24, 18)
}